[submodule "models/icon"]
	path = models/icon
	url = https://github.com/HPSCTerrSys/icon-model_coup-oas.git
	branch = icon-2024.07-public_coup-oas
[submodule "models/parflow"]
	path = models/parflow
	url = https://github.com/parflow/parflow.git
	branch = master
[submodule "models/parflow_pdaf"]
	path = models/parflow_pdaf
	url = https://github.com/HPSCTerrSys/parflow
	branch = tsmp-pdaf-patched
[submodule "models/pdaf"]
	path = models/pdaf
	url = https://github.com/HPSCTerrSys/pdaf.git
	branch = tsmp-pdaf-patched-letkf-flexible-timing
[submodule "models/eCLM"]
	path = models/eCLM
	url = https://github.com/HPSCTerrSys/eCLM.git
	branch = dev-visakh
[submodule "models/oasis3-mct"]
        path = models/oasis3-mct
        url = https://icg4geo.icg.kfa-juelich.de/ExternalReposPublic/oasis3-mct
	branch = v5.0_patched
[submodule "models/CLM3.5"]
	path = models/CLM3.5
	url = https://github.com/HPSCTerrSys/CLM3.5.git
	branch = tsmp-patches-v0.2
[submodule "models/cosmo5.01_fresh"]
	path = models/cosmo5.01_fresh
	url = https://gitlab.jsc.fz-juelich.de/sdlts/tsmp_components_mirrors/cosmo5.01_fresh.git
	branch = tsmp-oasis
